body{
    background: url(pict/background.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bgteam{
    background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0.5)), url(pict/bgteam.jpg) no-repeat, white;
    background-attachment: fixed;
    background-size: cover;
}

.bgachievements{
    background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0.5)), url(pict/bgachievements.jpg) no-repeat, white;
    background-attachment: fixed;
    background-size: cover;
}

*{
    font-family: 'League Spartan', sans-serif;
}

body h2{
    font-weight: bold;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.aos{
    animation: appear 7s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.largeaos{
    animation: appear 15s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

@keyframes appearRight {
    from {
        opacity: 0;
        transform: translateX(+200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.aosright{
    animation: appearRight 7s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appearLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.aosleft{
    animation: appearLeft 7s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

img{
    object-fit: cover;
}

.highlight {
    color: #8dbe41;
}

body a{
    text-decoration: none;
}

nav .title{
    font-weight: bold;
    color: #8dbe41;
}

#home{
    margin-top: 50px;
}

#carouselExampleCaptions{
    height: 450px;
    text-shadow: 3px 0px 3px black, -3px 0px 3px black, 0px 3px 3px black, 0px -3px 3px black;
}

#carouselExampleCaptions a{
    color: white;
}

#carouselExampleCaptions img {
    height: 450px;
    object-fit: cover; 
}

#about, #details, #achievements{
    margin: 4rem 8rem;
}

#about{
    text-align: justify;
}

#team .card h5, #team .card p{
    margin: 5px 0;
}

#details .sub{
    background-color: #8dbe41;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}

#details .persentate{
    background-color: #ebe8a5;
    color: #426a00;
    font-size: large;
}

ol li{
    font-weight: bold;
}

#achievements h3{
    font-weight: 600;
    margin-bottom: 15px;
    color: #426a00;
}

table{
    width: 60%;
    margin: auto;
}

table, table td, table th{
    border: 1px solid black;
    padding: 8px;
    border-collapse: collapse;
    text-align: center;
}

table th{
    font-weight: bold;
    background-color: darkgray;
}

table td:nth-child(odd){
    background-color: rgba(169, 169, 169, 0.432);
}

form{
    width: 40%;
    margin: auto;
}

form .required{
    color: red;
}

form input, form textarea{
    box-shadow: 0px 0px 3px #8dbe41;
}

form input:active{
    box-shadow: none !important;
    border-color: #8dbe41;
}

footer{
    background-color: #8dbe41;
}

footer p{
    margin: 0;
    color: white;
}

/* Warna tombol saat terbuka */
.accordion-button:not(.collapsed) {
    background-color: #ebe8a5 !important; 
    color: black !important; 
}

.accordion-button:not(.collapsed):hover {
    background-color: #ebe8a5b9 !important; 
    color: black !important; 
}

/* Hover efek untuk tombol tertutup */
.accordion-button.collapsed:hover {
    background-color: #ebe8a5b9;
}

/* Menghilangkan border biru saat tombol fokus */
.accordion-button:focus {
    box-shadow: none !important; 
}
